body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
/* Header part consists of a Navbar with destination links of the sub-pages. */
header{
    background-color: rgb(235, 239, 241);

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 0 60px;
    color: black;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    
}

.navbar ul li{
    margin-left: 25px;
    
}

.navbar ul li a{
    text-decoration: none;
    color: black;
}

.btnClass button{
    cursor: pointer;
    font-size: 30px;
    margin-left: 30px;
    padding: 10px 15px;
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 5px;
}
.btnClass button i{
    margin: 5px;
}

button:hover{
    background-color: black;
    color: white;
}

/* Hero Section */
.hero {
    position: relative;
    background-image: url('./Assets/main.png.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 0px;
    margin: 0 10px;
}

.heroContent {
    color: white; 
    position: absolute; 
    left: 22%;
    transform: translate(-50%, -50%); 
    border-radius: 10px; 
}
.heroContent h2{
    font-size: 48px;
    font-weight: 100;
}

.heroContent p{
    font-size: 24px;
    
}

/* section styling */
.latestProducts{
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
}
.latestProducts hr{
    width: 95%;
    
}

.categories{
    margin: 0 40px;
}
#category-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories ul li{
    list-style-type: none;
    margin: 20px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 20px;
    
}
.categories li:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

/* Product container styling */
.productContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    
}
.product-card{
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 5px;
    width: calc(25% - 40px); /* provides 3 cards per row. */
    background-color: #fff;
    padding: 15px;
    text-align: center;
    box-shadow: 0 5px 10px rgb(89, 94, 94);

}
.product-card img{
    width: 70%;
    height: 400px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.product-card h3{
    font-size: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
}
.product-card p{
    font-size: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-card .price{
    font-size: 26px;
    margin: 10px 0;
}
.product-card button{
    font-size: 24px;
    color: white;
    background-color: rgb(24, 2, 2);
    padding: 10px 25px;
    margin: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.product-card button:hover{
    background-color: rgb(50, 50, 51);
}

/* Detailed view section styling */
.productDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 10px auto;
    justify-content: space-evenly;
    padding: 25px;
    gap: 30px;
}

 .image-container {
    flex-grow: 1;
    width: 90%;
    height: auto;
    margin-right: 20px;
    align-items: center; 
    
}
.image-container img{
    max-width: 100%;
    height: 600px;
    object-fit: cover; 
    display: block;
    margin-left: 20px;
}
.contentBox{
    flex-grow: 2;
    padding: 20px;
    text-align: left;
}
.productDetails h2{
    text-transform: uppercase;
    font-size: 32px;
}

h1{
    font-size: 60px;
    font-weight: 100;
}
p {
    font-size: 30px;
}
.productDetails button {
    margin:10px 20px;
    padding: 20px;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 8px;
}

/* carousel scrolling */

.container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.product-cards {
    display: block;
    /* This will lasts the animation for 15 seconds and repeats infinitely */
     animation: scroll linear 15s infinite;   
}
.card {
    display: inline-block;
    width: 800px;
    height: 650px;
    margin-right: 20px;
    vertical-align: super;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    border: 2px solid grey;
}
.card img{
    height: 400px;
}
.card h2{
    overflow: hidden;
    text-overflow: ellipsis;
}
.card button{
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 26px;
}

.container:hover .product-cards {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
} 